@charset "utf-8";

html,body{
height: 100%;
}
h1{


font-family: Verdana, Geneva, Tahoma, sans-serif;
font-weight: bold;
font-display: initial;
color: brown;


}
body{
    

    font-family: 'Roboto', sans-serif;
}
.row{
    margin:  0;
}
.container{

    padding: 70px 0;

}
p,li{


    color:rgb(0, 0, 0);
    font-size: 14px;

    
}
/* Barra de Navegaçao*/
header, .navbar{

background-color: rgb(155, 151, 151);


}
#nav-container{
    padding: top 0; 
    padding-bottom: 0;
}

#logo{
    width: 100px;
}
#Principal{

color: black;
text-align: center;
font-family: 'Roboto';
border-radius: 1em;
padding: 0px, 5px, 0px, 5px;




} .sessaoPrincipal,h3{
    padding: 1em 1em 1em 1em;
    margin: 1em 1em 1em 1em;
    border-color: aqua;
    



}















a{

    color: rgb(80, 94, 18);
}

  
   

    
    

a {
    padding: 2px;
    text-indent: 0px;
    font-family: 'Roboto';
    
    
    

    
}
.Rodape__Info--flex{

display: flex;
flex-direction: row;
background-color: aqua;
border: 10px solid red;
justify-content: center;
align-items: flex-start;
width: 100%;
min-width: 20%;






}


.Rodape__Info--flex div{
    
border: 5px solid black;

justify-content: center;
justify-items: center;
background-color: rgba(165, 42, 42, 0.696);
width: 50%;
margin: 1%;
padding: 5%;




}
.Rodape__Info--flex h4{


font-style: italic;
    
}

    
    
    
    
    

    



