@charset "utf-8";


h1{


font-family: Verdana, Geneva, Tahoma, sans-serif;
font-weight: bold;
font-display: initial;
color: brown;


}
body{
    
    margin: 0%;
    font-family: 'Roboto', sans-serif;
   
}
.row{
    margin:  0;
}
.container{

    padding: 70px 0;

}
p,li{


    color:rgb(0, 0, 0);
    font-size: 14px;

    
}
/* Barra de Navegaçao*/
header, .navbar{

background-color: rgb(155, 151, 151);


}
#nav-container{
    padding: top 0; 
    padding-bottom: 0;
}

#logo{
    width: 100px;
}
.Principal{
    /*border: 5px solid red;*/
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-items: center;
   text-align: center;

}
.Principal__div{
    border: 5px solid black;
    justify-content: center;
    justify-items: center;
}
.Principal__div__h3{

    border: 5px solid green;
}
.Principal__div__p{
    border: 5px solid greenyellow;
}
.Principal__div2{

    border: 5px solid blue;
}
.Principal__div2_img{
    border: 4px solid crimson;
    
}

a{

    color: rgb(80, 94, 18);
}

a {
   
    
    
    

    
}
.footer{
  
  
  

 
 
 
  

}
.footer__section{
    
    
    display: grid;
    grid-template-columns: 3fr 3fr ;
    grid-template-rows: 1fr 1fr ;
    align-items: center;
    align-content: center;
    border: 1px solid black;
    background-color: rgba(0, 255, 255, 0.322);
    
   
    
    
    
    
}
.footer__section__Div--contato{
    border: 4px solid red;
    
    padding: 20px;
    margin: 20px;
    background-color: bisque;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 2;
    grid-column-end:2;
    
    
   

    
}
.footer__section__Div--contato2{


    border: 4px solid red;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 20px;
    background-color: bisque;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end:1 ;

}


.footer__section__Div--ul  {
   
   
    

}
.footer__section__Div--ul  {
    
    
    
}
.footer__section__Div--contato--h4{



}
.footer__section__Div--ul a{



}










    
    
    
    
    

    



