@charset "utf-8";





*{
    padding: 0; 
    margin: 0; 
}
body{
    
    display: grid;
    grid-template-columns: repeat(5,auto);
    grid-template-rows:repeat(5,auto) ;
    grid-template-areas: "header header header header header"
    "aside aside main main main"
    "aside aside main main main"
    "aside aside section section section"
    "footer footer footer footer footer"
}
#o_header,#o_aside,#o_main,#o_section,#o_footer{
background-color: rgba(137, 43, 226, 0.65);
}
#o_header{
    grid-area: header;
}
#o_aside{
    grid-area: aside;
}
#o_main{
    grid-area: main;
}
#o_section{
    grid-area: section;
}
#o_footer{
    grid-area: footer;
}





img{
    max-width: 100%;
}


 
    
@media screen and (max-width: 990px) {
    
}



    








    
    
    
    
    

    



